global:
  scrape_interval: 1s 
  evaluation_interval: 1s

scrape_configs:
  # 1. Métricas de Lag e Offsets (Kafka Exporter - Interno Docker)
  - job_name: 'kafka-lag-metrics'
    static_configs:
      - targets: ['kafka-exporter:9308']

  # 2. Métricas Internas JVM/OS (JMX Exporter - Interno Docker)
  - job_name: 'kafka-jmx-metrics'
    static_configs:
      - targets: ['kafka-jmx-exporter:5556'] 
    # Nota: Ajustei o host para 'kafka-jmx-exporter' (nome do service no compose)
    # O seu anterior estava 'jmx-exporter', que é o container_name. 
    # Ambos funcionam, mas service name é melhor prática.

  # 3. Métricas de Latência Real (Seu Script Python - No Host)
  - job_name: 'python-consumer'
    static_configs:
      # Graças ao 'extra_hosts' no compose, isso agora funciona em Windows/Mac/Linux
      - targets: ['host.docker.internal:8000']